@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
/* shared styles */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .Miama-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}
  .bg-color{
    background-color: black;
  }
  .bg-red{
    background-color: #E6533C;
  }
  .text-white{
    color: #FFFFFF;
  }
  .display-flex{
    display: flex;
  }
  /* header styles */
  
  header{
    max-width:1140px;
    margin: 50px auto;
    color: white;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    padding: 10px 30px;
   }
   .nav-links{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    align-items: center;
   }
   .nav-items{
     list-style: none;
     margin-right: 40px;
     font-size: 1.25rem;
     cursor: pointer;
   }
   .brand{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
   }
   .nav-link{
     text-decoration: none;
     font-weight: 400;
   }
   ul > :nth-child(1){
    padding: 8px 15px;
    border-radius: 46px;
    align-items: center;
    background-color: #E6533C;
    font-weight: 600;
   }
   .ham-barger{
    display: none;
   }

/* banner styles */
.banner-container{
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner-text-content{
    width: 47%;
}
.banner-img{
    width: 47%;
    position: relative;

}
.banner-img img{
    width: 100%;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4.88rem;
}
.span-title{
    font-size: 4.88rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px auto;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    border-radius: 2.6rem;
    padding: 16px 30px;
    border: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    width: 224px;
    height: 54px;
}
.btn-download{
    /* box-sizing: border-box; */
    padding: 16px 30px;
    border-radius: 2.6rem;
    border:1px solid white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: black;
    margin-left: 14px;
    width: 224px;
    height: 54px;
    
}


.box{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 150px;

}
.round-div{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.box h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.box p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
.box-2{
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 190px;
    height: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 200px;
    right: 30px;
    padding: 17px 24px;

}
.box-2 h3{
    font-size: 2.5rem;
    font-weight: 900;
}
.box-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: .75rem;
    font-weight: 400;
   
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
.habits-container{
    margin: 100px auto;
    max-width: 1140px;
}
.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}
.section-description{
    font-size: .9rem;
    font-weight: 400;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    margin:54px auto;
    box-sizing: border-box;

    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 272px;
    /* height: 274px; */
    
    padding: 10px;
  
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.card-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}
.card-img{
    width: 230px;
    height: 180px; 
    margin-bottom: 30px;
    
}
.card-img img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 50%;
    
}

/* run-content-container styles */
.run-easily-section{
    gap: 30px;
    margin: 0 auto;
    background-color: #222222;
    border-radius: 18px;
    height: 371px;
    
}
.run-content-container{
    
    
    padding: 40px 54px;
    width: 47%;
}

.run-img-container{
    width: 47%;
    padding: 40px 20px;
}
.run-img-container img{
    width: 100%;
    border-radius: 8px;
}
.run-title{
    font-size: 3rem;
    font-weight: 900px;
    margin-bottom: 14px;

}
.run-description{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 32px;
}